<div class="side">
    <div class="sidebar-wrapper">
      <ul>
        <li>
          <a v-link="/dashboard/overview" v-class="isActive('home') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="home">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li>
          <a v-link="/dashboard/projects"  v-class="isActive('projects') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-connectdevelop"></i>
          </a>
        </li>
        <li>
          <a v-link="/dashboard/future"  v-class="isActive('future') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-heartbeat"></i>
          </a>
        </li>
      </ul>
    </div>
</div>
<router-view></router-view>
