<div class="side">
    <div class="sidebar-wrapper">
      <ul>
        <li>
          <a v-link="/dashboard/overview" data-toggle="tooltip" data-placement="right" title="" data-original-title="home">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li>
          <a v-link="/dashboard/projects" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-connectdevelop"></i>
          </a>
        </li>
        <li>
          <a v-link="/dashboard/future" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-heartbeat"></i>
          </a>
        </li>
      </ul>
    </div>
</div>
<router-view></router-view>
