<div class="side">
    <div class="sidebar-wrapper">
      <ul>
        <li>
          <a href="#/" v-class="isActive('home') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="home">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li>
          <a href="#/projects"  v-class="isActive('projects') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-connectdevelop"></i>
          </a>
        </li>
        <li>
          <a href="#/future"  v-class="isActive('future') ? 'active' : ''" data-toggle="tooltip" data-placement="right" title="" data-original-title="projects">
            <i class="fa fa-heartbeat"></i>
          </a>
        </li>
      </ul>
    </div>
</div>
<section class="common-wrapper">
    <div class="common-header">
        <h1>控制台</h1>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-overview" aria-expanded="true"><i class="fa fa-eye"></i>
                总览
                </a></li>
                <li class="">
                    <a data-toggle="tab" href="#tab-usage" aria-expanded="false"><i class="fa fa-play"></i>
                最近操作
                </a></li>
            </ul>
        </div>
    </div>
    <div class="common-content">
        <div class="content-wapper">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab-overview">
                    <div class="row">
                        <div class="col-lg-6">
                            <section id="projects-list">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>项目列表</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled">
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <a data-toggle="modal" class="btn btn-default"><i class="fa fa-plus"></i>添加项目</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section id="projects-list">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>项目列表</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled">
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                            <li>中新恒超</li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <a data-toggle="modal" class="btn btn-default"><i class="fa fa-plus"></i>添加项目</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-usage">
                    <div class="row">
                        <div class="col-lg-6">
                            <section>
                                <div class="panel panel-default">
                                    1
                                    <br>
                                    2
                                    <br>

                                    4
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section>
                                <div class="panel panel-default">
                                    1
                                    <br>
                                    2
                                    <br>

                                    4
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
