PORT = 3200
DEBUG = True

MONGODB_HOST = 'localhost'
MONGODB_PORT = 27017
MONGODB_DB = 'xinmei-cms'
# MONGODB_USERNAME = 'xinmei'
# MONGODB_PASSWORD = 'xinmei'

SECRET_KEY = 'mojixiang'

API_URI = '/api/v1'

MAIL_SERVER = 'smtp.qq.com'
MAIL_PORT = 25
MAIL_USE_TSL = True
MAIL_USERNAME = '215386894@qq.com'
MAIL_PASSWORD = 'xiaomo11025270'


GRAB_URI = 'http://app.entplus.cn/entplus1.4'
# Celery Settings
CELERY_BROKER_URL = 'amqp://guest@localhost//'
CELERY_RESULT_BACKEND = 'amqp://guest@localhost//'
# CELERY_IMPORTS=("mytasks")

IMEI0 = '3A906139-4E79-4D96-A151-F302C6C4F5F7'
USERID0 = 'ff8080814dc2b1a5014e227de7175b32'
COOKIE0 = 'JSESSIONID=90F0D208FBB839B8A3932BD71F035B68'


IMEI1 = '514641D5-3DC5-478D-B57E-60085F3EB47F'
USERID1 = 'ff8080814f06de01014f3a3f2fd05879'
COOKIE1 = 'JSESSIONID=A7DC6578891136E50CC78AFD8982F8A7'

IMEI2 = '3A906139-4E79-4D96-A151-F302C6C4F5F7'
USERID2 = 'ff8080814f06d408014f3a42130e4529'
COOKIE2 = 'JSESSIONID=C4CF554D2DE547D1E2B08EB1983AAD15'
