<section class="common-wrapper">
    <div class="common-content">
        <div class="content-wapper">
            <ul class="list-unstyled">
                <li>
                    <h3>SWHT</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>
                        用when, where, what, why, who构建模型
                        ##公司为什么发展的这么好？

                        系统自动分析，得到结果，其结构如下：
                            is:________________
                            because:___________
                            when:______________
                            where:_____________
                    </p>
                </li>
                <li>
                    <h3>九块画布企业结构分析</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>利用九块画布的模型，结合搜索数据，对企业进行经济模型分析</p>
                </li>
                <li>
                    <h3>行业结构图</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>利用采集到的企业数据，对其关联公司进行数据分析，将得到的分析结果进行可视化处理</p>
                </li>
                <li>
                    <h3>采集数据</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>对工商信息的采集，和利用商业接口</p>
                </li>
                <li>
                    <h3>企业舆情数据采集</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>根据用户定义的词团，对企业的招聘信息，行业信息进行实时的采集，数据源为百度，google，和搜狗微信</p>
                </li>
                <li>
                    <h3>企业舆情时间动态图</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>根据企业的舆情信息，对应时间点画出该图。</p>
                </li>
                <li>
                    <h3>法律文书分析</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>利用自然语言处理，对法律文书进行分析，提取出实体，和实体之间的关系，得到一张关系图</p>
                </li>
                <li>
                    <h3>批量采集数据</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>admin用户能够一次性批量上传指定格式的数据文件，进行抓取</p>
                </li>
                <li>
                    <h3>用户词团管理</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <p>用户能够自定义一组搜索词团，为之后的模型分析做样板。</p>
                </li>
                <li>
                    <h3>企业地域分布图</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <p>根据企业的地域来画出企业地域分布图（但是没有地域属性）</p>
                </li>
                <li>
                    <h3>分析报表的设计</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>系统能够为专业人员提供可定制的分析报表的设计，根据监控项目各方面的数据，完成业务分析。
                        应该保证，系统只提供基本的数据，用户可以自己调试参数。这样不同的人分析出来的数据结果也会不一样。
                        防止别人的分析结果被窃取。
                    </p>
                </li>
                <li>
                    <h3>图标监测系统</h3>
                    <span><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i></span>
                    <p>系统能够为专业人员提供可定制的分析报表的设计，能够自给调用控件对公司进行监控。比如，a公司对b公司投资，
                        可以自己画图标。
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
